<div id="inner_main_container">
    <%= render :partial => "users/hour", :locals => {:hour => @hour, :content_partial=>"hours/hour_details"
} %>


    <div class="hour_info_container">
        <div class="hour_notes_container">
        <div class="add_note_buttons">
            <button id="add_student_note" class="button">+1 Student Note</button>
            <button id="add_teacher_note" class="button">+1 Teacher Note</button>
        </div>
          <div class="hour_notes_list">
              <% @hour.notes.reverse.each do |note| %> 
                  <%= render :partial => "note_list_item", :locals => {:hour => @hour, :note => note} %>
              <% end %>
          </div>
        </div>

        <div class="chart_container">
           <div class="connecting_line"></div>
           <div id="chart"></div>
           <div class="total">$20</div>
           <div class="donor_list">
               <div style="display:none;" class="up_button"></div>
                   <div class="donor_list_container">
                   <% colors = ['#BC60E4',  '#FF8767', '#6393E4', '#B037E4' , '#FF6339', '#3C7AE4', '#7203A2', '#C92A00', '#053FA2'] %>
                   <% @hour.donor_summary.each_with_index do |summary, index| %>
                      <div class="donor_list_item">
                          <% current_color = colors[index % colors.length] %>
                          <% if User.find(summary[:id]).picture.url %> 
                              <img src="<%= User.find(summary[:id]).picture_url %>"/>
                          <% else %>
                              <img src="<%= asset_path 'question_mark.png' %>"/>
                          <% end %>
                        
                          <div class="donor_name"><a style="color:<%= current_color %>" href="/users/<%= summary[:id] %>"><%= summary[:name] %> ($<%= summary[:amount] %>)</a></div>
                      </div>
                   <% end %>
                   </div>
                   <div class="down_button" style="display: <%= @hour.donor_summary.size > 7 ? "block" : "none" %>"></div>
              </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="http://www.google.com/jsapi"></script>

<script>
google.load('visualization', '1',
          {'packages': ['table', 'map', 'corechart']});

google.setOnLoadCallback(drawVisualization);


function drawVisualization() {
  // Create and populate the data table.
  var data = google.visualization.arrayToDataTable([
    ['',''],
    <%= raw @hour.donor_summary.collect{|summary| "['" + summary[:name] +"'," + summary[:amount].to_s + "]"}.join(",") %>
  ]); 

  // Create and draw the visualization.
  new google.visualization.PieChart(document.getElementById('chart')).
    draw(data, {backgroundColor: 'black', chartArea: {width: '100%', height: '100%'}, legend: {position: 'none', textStyle: {color: 'white'}}, is3D: true, pieSliceText: 'value', colors: ['#BC60E4',  '#FF8767', '#6393E4', '#B037E4' , '#FF6339', '#3C7AE4', '#7203A2', '#C92A00', '#053FA2']});
}
</script>


<script>
  var list_offset = 0;
  var scroll_amount = 34;

  $(document).ready(function(){

     var i = $(".donor_list_item").first();
     scroll_amount = i.height() + parseInt(i.css("margin-bottom").replace("px", ""));

     $(".up_button").click(function(){
        list_offset += scroll_amount;
        $(".donor_list_item").animate({"top":list_offset+"px"})
        fix_buttons();
     });
     
     $(".down_button").click(function(){
        list_offset -= scroll_amount;
        $(".donor_list_item").animate({"top":list_offset+"px"})
        fix_buttons();
     });


     $("#add_student_note").click(function(){
        $.post("/notes.json?hour_id=<%= @hour.id %>&note_type=Student", function(data){
            var partial = $(data.partial)
            partial.hide().prependTo(".hour_notes_list");
            $("#hour_note_list_item_"+data.note.id).fadeIn();

            setupCrudFunctions();
        });         
     });

     $("#add_teacher_note").click(function(){
        $.post("/notes.json?hour_id=<%= @hour.id %>&note_type=Teacher", function(data){
            var partial = $(data.partial)
            partial.hide().prependTo(".hour_notes_list");
            $("#hour_note_list_item_"+data.note.id).fadeIn();

            setupCrudFunctions();
        });         
     });

     setupCrudFunctions();
  });

  function setupCrudFunctions(){
     $(".delete_icon").hover(function()
     {
        $(this).attr("src", "<%= asset_path 'delete_icon_highlight.png' %>");
     },
     function()
     {
         $(this).attr("src", "<%= asset_path 'delete_icon.png' %>");
     });

     $(".edit_icon").hover(function()
     {
         $(this).attr("src", "<%= asset_path 'edit_icon_highlight.png' %>");
     },
     function()
     {
         $(this).attr("src", "<%= asset_path 'edit_icon.png' %>");
     });

     $(".delete_icon").click(function(){
         $(this).parent().fadeOut("slow");

         note_id = $(this).attr("note_id")

         $.ajax({
           url: "/notes/"+note_id,
           type: "DELETE"
         })
     });


     $(".note_text").click(function(e){
        var note_id = $(this).attr("note_id")
        $.colorbox({opacity: .5, inline:true, href:$("#full_note_text_"+note_id)});
     });

  }

  function fix_buttons(){
    if(list_offset >= 0)
      $(".up_button").hide();    
    else
      $(".up_button").show();    

    if((list_offset * -1 / scroll_amount) >= <%= @hour.donor_summary.size %> )
      $(".down_button").hide();    
    else
      $(".down_button").show();    
  }

</script>
