<div id="inner_main_container">
    <%= render :partial => "users/hour", :locals => {:hour => @hour, :content_partial=>"hours/hour_details"
} %>


    <div class="hour_info_container">
        
	<div id ="undo_delete" hidden="true"><p>Successfully Deteted! </p>
        	<p id ="undo_text">undo</p>

 	</div><!-- close undo_delete  -->

	<div class="hour_notes_container">
        <div class="add_note_buttons">
		
            <button id="add_student_note" class="button">+1 Student Note</button>
            <button id="add_teacher_note" class="button">+1 Teacher Note</button>
        </div>
          <div class="hour_notes_list">
              <% @hour.notes.reverse.each do |note| %> 
                  <%= render :partial => "note_list_item", :locals => {:hour => @hour, :note => note} %>
              <% end %>
          </div>
        </div>

        <% if @hour.donor_summary.size > 0 %>
            <%= render :partial => "donor_chart", :locals => {:hour => @hour} %>
        <% end %>
    </div>
</div>




<script>
  var list_offset = 0;
  var scroll_amount = 34;
  var note_id = -1;

  $(document).ready(function(){
     $("#add_student_note").click(function(){
	//$("#undo_delete").fadeOut("slow");
        $.post("/notes.json?hour_id=<%= @hour.id %>&note_type=Student", function(data){
            var partial = $(data.partial)
            partial.hide().prependTo(".hour_notes_list");
            $("#hour_note_list_item_"+data.note.id).fadeIn();

			//Setup and automatically open the edit comment window
            setupCrudFunctions(data.note.id);			
        }); 
     });

     $("#add_teacher_note").click(function(){
	//$("#undo_delete").fadeOut("slow");
        $.post("/notes.json?hour_id=<%= @hour.id %>&note_type=Teacher", function(data){
            var partial = $(data.partial)
            partial.hide().prependTo(".hour_notes_list");
            $("#hour_note_list_item_"+data.note.id).fadeIn();

			//Setup and automatically open the edit comment window
            setupCrudFunctions(data.note.id);
        });         
     });

     setupCrudFunctions();
  });

  function setupCrudFunctions(noteID){
     //If a note ID was passed, automatically open the commment window
	 if(typeof noteID != 'undefined') {
       $.colorbox({opacity: .5, inline:true, href:$("#full_note_text_"+noteID)});
	 }
  
     $(".delete_icon").hover(function()
     {
        $(this).attr("src", "<%= asset_path 'delete_icon_highlight.png' %>");
     },
     function()
     {
         $(this).attr("src", "<%= asset_path 'delete_icon.png' %>");
     });


     $(".delete_icon").click(function(){
         $(this).parent().fadeOut("slow");

         note_id = $(this).attr("note_id")
         $.ajax({
           url: "/notes/"+note_id,
           type: "DELETE"
         })
	$("#undo_delete").fadeIn("slow");
     });

     $("#undo_text").click(function() {
	$(".delete_icon").parent().fadeIn("slow");
	$.ajax({
	  url: "/notes/"+note_id,
	  type:"PUT",
	  data: {untag:["Deleted"]     
	        }
	
	})
   	note_id = -1;
	$("#undo_delete").fadeOut("slow");
     });	
    
     $(".note_text").click(function(e) {
        note_id = $(this).attr("note_id")
        $.colorbox({opacity: .5, inline:true, href:$("#full_note_text_"+note_id)});
     });

  }

  function fix_buttons(){
    if(list_offset >= 0)
      $(".up_button").hide();    
    else
      $(".up_button").show();    

    if((list_offset * -1 / scroll_amount) >= <%= @hour.donor_summary.size %> )
      $(".down_button").hide();    
    else
      $(".down_button").show();    
  }

</script>
