<h1>Listing dollars</h1>

<table>
  <tr>
    <th>Donation</th>
    <th>Hour</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @dollars.each do |dollar| %>
  <tr>
    <td><%= dollar.donation_id %></td>
    <td><%= dollar.hour_id %></td>
    <td><%= link_to 'Show', dollar %></td>
    <td><%= link_to 'Edit', edit_dollar_path(dollar) %></td>
    <td><%= link_to 'Destroy', dollar, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Dollar', new_dollar_path %>
