<div class="about_me" id="about_me_<%= user.id %>">
    <h1>About <%= user.first_name %></h1>

    <%= render :partial => "users/badges", :locals => {:user => user} %>

    <div class="about_me_text">
        <% if user.about_me %>
            <%= simple_format(user.about_me.note) %>
        <% else %>
            (Nothing yet.)
        <% end %>
    </div>
    <div class="about_me_edit">
        <% if user.about_me %>
            <textarea rows="13" cols="48"><%= user.about_me.note %></textarea>
        <% else %>
            <textarea rows="13" cols="48"></textarea>
        <% end %>
    </div>
    <img class="edit_icon" src="<%= asset_path 'edit_icon.png' %>"></img>
</div>

<script>
  $(document).ready(function(){

    $("#about_me_<%= user.id %> .edit_icon").click(function(){
       $("#about_me_<%= user.id %> .about_me_text").toggle();
       $("#about_me_<%= user.id %> .about_me_edit").toggle();
       set_about_me();
    });

    $("#about_me_<%= user.id %> .about_me_edit textarea").blur(
        function(){
           $("#about_me_<%= user.id %> .about_me_text").show();
           $("#about_me_<%= user.id %> .about_me_edit").hide();
           set_about_me();
        }
    );

   });

    function set_about_me(){
        $.ajax({
           url: "/notes/<%= user.about_me %>", 
           type: "PUT",
           data: {note: {note: $("#about_me_<%= user.id %> .about_me_edit textarea").val()}},
           success: function(data){
               var curr = $("#about_me_<%= user.id %> .about_me_edit textarea").val()
               $("#about_me_<%= user.id %> .about_me_text").html(simpleFormat(curr));
           }
       }); 
   }
</script>
