<div class="personal_info">
    <%= render :partial => "profile_pic", :locals => {:user => user} %>
    <%= render :partial => "about_me", :locals => {:user => user} %>
    <div class="new_hour_button_container">
        <button class="button" id="new_hour_button_<%= user.id %>" >Log Another Hour</button>
    </div>
    <div class="newsfeed">
      <% user.hours.reverse.each do |h| %>
         <%= render :partial => "hour", :locals => {:hour => h, :content_partial => "users/hour_details"} %>
      <% end %>
    </div>
</div>

<script>
  $(document).ready(function(){
     $("#new_hour_button_<%= user.id %>").click(function(){
       $("#new_hour_button_<%= user.id %>").replaceWith("<img src='<%= asset_path 'ajax-loader.gif' %>'/>")

        $.ajax({
          type: "POST",
          url: "hours.json/",
          data: {hour: {user_id: <%= user.id %>}},
          success: function(data){
             console.log(data);
             var hour_id     = data.id;
             window.location = "hours/"+hour_id;
          },
          error: function(data){
             error_popup("You must add notes to the previous hour before logging a new hour.");
          }
        });
     });
  });
</script>
