<div class="personal_info">
    <%= render :partial => "profile_pic", :locals => {:user => user} %>
    <%= render :partial => "about_me", :locals => {:user => user} %>
    <div class="new_hour_button_container">
        <% if current_user && user.id == current_user.id %>
            <% if user.is_approved_student? %>
                <button class="button" id="new_hour_button_<%= user.id %>" >+1 Hour</button>
            <% elsif user.is_approved_teacher? %>
                Your teacher request was approved.
            <% elsif !user.has_pending_student_requests? and !user.has_pending_teacher_requests? %>
                <%= form_for ApplicationRequest.new do |form| %>
                    <%= form.submit "Apply As a Student", :class => "button" %>
                    <%= form.submit "Apply As a Teacher", :class => "button" %>
                <% end %>
            <% elsif user.has_pending_student_requests? %>
                We'll contact you in a few days.<br/>  Your student request is under review (<%= link_to 'click here', user.pending_request, method: :delete %> to cancel it)
            <% elsif user.has_pending_teacher_requests? %>
                We'll contact you in a few days.<br/>  Your teacher request is under review (<%= link_to 'click here', user.pending_request, method: :delete %> to cancel it)
            <% end %>
        <% elsif current_user and (current_user.id == user.id or current_user.is_admin?) %>
                <button class="button" id="new_hour_button_<%= user.id %>" >+1 Hour</button>
        <% end %>
    </div>
    <div class="newsfeed">
      <% user.all_hours.reverse.each do |h| %>
         <%= render :partial => "hour", :locals => {:hour => h, :content_partial => "/users/hour_details"} %>
      <% end %>
    </div>
</div>

<script>
  $(document).ready(function(){
     $("#new_hour_button_<%= user.id %>").click(function(){
       $("#new_hour_button_<%= user.id %>").replaceWith("<img src='<%= asset_path 'ajax-loader.gif' %>'/>")

        $.ajax({
          type: "POST",
          url: "/hours.json/",
          data: {hour: {user_id: <%= user.id %>}},
          success: function(data){
             console.log(data);
             var hour_id     = data.id;
             window.location = "/hours/"+hour_id;
          },
          error: function(data){
             error_popup("You must add notes to the previous hour before logging a new hour.");
          }
        });
     });
  });
</script>
