<!DOCTYPE html> <html>
<head>
  <title>
      900 Hours | Funding Computer Science Education for Kids
  </title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "colorbox" %>
  <%= javascript_include_tag "jquery-fileupload/vendor/jquery.ui.widget" %>
  <%= javascript_include_tag "jquery-fileupload/jquery.iframe-transport" %>
  <%= javascript_include_tag "jquery-fileupload/jquery.fileupload" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div id="top_bar">
	
	<!-- Beta Tag -->
	<div style="margin-left: 195px; padding-top: 50px; font-size: 20px; color: red; line-height: 25px; float: left;">BETA</div>
	
    <ul type="none" id="nav_links"> 
        <li><%= link_to_unless_current "Home", "/" %></li>
        <% if current_user %>
          <li><%= link_to_unless_current "My Profile", "/users/#{current_user.id}" %></li>
        <% end %>
        <li><%= link_to_unless_current "Mission", "/mission" %></li>
        <li><%= link_to_unless_current "Case Studies", "/users" %></li>
        <li><%= link_to_unless_current "Scholarships", "/contact_us" %></li>
        <% if current_user %>
          <li><%= link_to_unless_current "Sign out", "/signout" %></li>
        <% else %>
          <li><%= link_to_unless_current "Sign in", "/session/new" %></li>
        <% end %>
    </ul>
  </div>

  <div id="main_container">
      <%= yield %>
  </div>

  <a href="/"><img id="logo" src="<%= asset_path 'logo.png' %>"></img></a>

  <div style="display:none">
    <div id="error_popup">

    </div>
  </div>

  <script>
    function error_popup(msg){
      $("#error_popup").html(msg);
      $.colorbox({opacity: .5, inline:true, href:$("#error_popup")});
    }

    function simpleFormat(str) {
      str = str.replace(/\r\n?/, "\n");
      str = $.trim(str);
      if (str.length > 0) {
        str = str.replace(/\n\n+/g, '</p><p>');
        str = str.replace(/\n/g, '<br />');
        str = '<p>' + str + '</p>';
      }
      return str;
    }

    $(document).ready(function(){
        $(".edit_icon").hover(function()
        {
            $(this).attr("src", "<%= asset_path 'edit_icon_highlight.png' %>");
        },
        function()
        {
            $(this).attr("src", "<%= asset_path 'edit_icon.png' %>");
        });
    });
 
    var offset = new Date().getTimezoneOffset();
    $.ajax({
      url: "/timezone",
      type: "post",
      data: {offset: offset}
	});
  </script>
  
</body>
</html>
